# ─── Ambiente ────────────────────────────────────────
NODE_ENV=development

# ─── Puertos del servidor ─────────────────────────────
PORT_REST=3001
PORT_GRPC=50052

# ─── Veturis (Form-Data POST + IP Whitelist) ──────────
# Credenciales Sandbox Oficiales V3.9
VETURIS_USER=TestVeturisXML
VETURIS_PASSWORD=xmltestveturis
VETURIS_AGENCY_USER=XMLTestAlcab
VETURIS_AGENCY_PASSWORD=MCQnhs05XML

VETURIS_BASE_URL_DEV=http://testxmlservices.veturis.com/xmlWebServices.php
VETURIS_BASE_URL_PROD=https://xmlservices.veturis.com/xmlWebServices.php

# IP Autorizada: 154.16.163.11
# Nota: La producción exige HTTPS estrictamente.
