@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/tw-main.css";

:root {
  --background: #192630;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #192630;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  padding: 1rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  /* background-color: var(--foreground); */
  border-radius: 3rem;
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 448px) {
  body {
    padding: 0;
  }

  main {
    border-radius: 0;
  }
}


.popover-with-arrow {
  position: relative;
  border-radius: 12px;
  margin-top: 8px;
  overflow: visible !important;
}

.popover-with-arrow::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 75%;
  transform: translateX(-75%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  z-index: 1;
}

.popover-with-arrow::after {
  content: '';
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #e0e0e0;
  z-index: 0;
}